@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto;
  src: url("/src/assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Poppins;
  font-weight: 700;
  src: url("/src/assets/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: Poppins;
  font-weight: normal;
  src: url("/src/assets/fonts/Poppins-Regular.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* overflow-x: visible; */
}

html {
  scroll-behavior: smooth;
  font-family:
    Roboto,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Oxygen,
    Ubuntu,
    sans-serif;
  letter-spacing: 0.5px;
  height: 100%;
  width: 100%;
}
body {
  width: 100%;
  height: 100%;
}
.app-container {
  /* overflow-x: hidden; */
}
#root {
  width: 100%;
  height: 100%;
}
nav {
  overflow: auto;
}
/* #root {
  flex: 1;
 width: 100%; 
 overflow: auto;
 }  */

/* .dark {
  background-color: #0f172a;
  color: #94a3b8;
}  */
/* .search_filter {
  filter: invert(100%) sepia(37%) saturate(2%) hue-rotate(3deg) brightness(116%)
    contrast(101%);
} */
/* .test {
  background-image: url("../src/assets/icons/searchIcon.svg");
  width: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 1/1;
  border: 1px solid black;
  filter: invert(100%) sepia(37%) saturate(2%) hue-rotate(3deg) brightness(116%)
    contrast(101%);
} */
.logo {
  font-family: Poppins;
  color: #ff914d;
  font-weight: bold;
}

/* dark mode bg color: bg-[#30313d]
light mode secondary text color text-[#565959]

*/
.shadow-card {
  box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.03),
    0px 3px 6px rgba(0, 0, 0, 0.02);
}
/* border border-[#d5d9d9] */
.shadow-card2 {
  border: 1px solid #d5d9d9;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.addToCart-modal {
  &[data-entering] {
    animation: mymodal-slide 300ms;
  }

  &[data-exiting] {
    animation: mymodal-slide 300ms reverse ease-in;
  }
}
.modal-overlay {
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
  &[data-entering] {
    animation: overlay-fade 300ms;
  }

  &[data-exiting] {
    animation: overlay-fade 300ms reverse;
  }
}
@keyframes mymodal-slide {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
@keyframes overlay-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.bg-light-gray {
  background-color: #f2f2f2;
}
.radioBtn {
  display: flex;
  align-items: center;
  gap: 0.571rem;
  /* font-size: 1.143rem; */
  forced-color-adjust: none;
  max-width: 320px;

  &:before {
    content: "";
    display: block;
    width: 1.286rem;
    height: 1.286rem;
    box-sizing: border-box;
    border: 0.143rem solid rgb(126, 126, 126);
    /* inner circle color */
    background-color: white;
    border-radius: 1.286rem;
    transition: all 200ms;
  }
  &[data-disabled]:before {
    background-color: rgb(220, 220, 220);
  }
  /* when holding down the click on radio button */
  &[data-pressed]:before {
    border-color: black;
  }

  &[data-selected] {
    &:before {
      border-color: #6f46ed;
      border-width: 0.429rem;
    }
    /* when radio btn is selected but pressed again */
    &[data-pressed]:before {
      border-color: #5026cf;
    }
  }

  &[data-selected][data-disabled] {
    &:before {
      border-color: rgb(60, 60, 60);
      border-width: 0.429rem;
    }
  }

  &[data-focus-visible]:before {
    outline: 2px solid pink;
    outline-offset: 2px;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loading-circle {
  width: 100px;
  height: 100px;
  border: solid 10px #ff914d;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transition: all 0.5s ease-in;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  transition: all 0.5s ease-in;
  animation-name: rotate;
  animation-duration: 1.1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
