@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto;
  src: url("/src/assets/fonts/Roboto-Regular.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* overflow-x: visible; */
}

html {
  font-family:
    Roboto,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Oxygen,
    Ubuntu,
    sans-serif;
  letter-spacing: 0.5px;
  height: 100%;
}
/* body {
  overflow: scroll;
} */
nav {
  overflow: auto;
}
/* #root {
  flex: 1;
 width: 100%; 
 overflow: auto;
 }  */

/* .dark {
  background-color: #0f172a;
  color: #94a3b8;
}  */
/* .search_filter {
  filter: invert(100%) sepia(37%) saturate(2%) hue-rotate(3deg) brightness(116%)
    contrast(101%);
} */
/* .test {
  background-image: url("../src/assets/icons/searchIcon.svg");
  width: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 1/1;
  border: 1px solid black;
  filter: invert(100%) sepia(37%) saturate(2%) hue-rotate(3deg) brightness(116%)
    contrast(101%);
} */
.addToCart-modal {
  &[data-entering] {
    animation: mymodal-slide 300ms;
  }

  &[data-exiting] {
    animation: mymodal-slide 300ms reverse ease-in;
  }
}
@keyframes mymodal-slide {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.bg-light-gray {
  background-color: #f2f2f2;
}
