@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto;
  src: url("/src/assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Poppins;
  font-weight: 700;
  src: url("/src/assets/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: Poppins;
  font-weight: normal;
  src: url("/src/assets/fonts/Poppins-Regular.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* overflow-x: visible; */
}

html {
  font-family:
    Roboto,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Oxygen,
    Ubuntu,
    sans-serif;
  letter-spacing: 0.5px;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100%;
}
.app-container {
  /* overflow-x: hidden; */
}
#root {
  width: 100%;
  height: 100%;
}
nav {
  overflow-x: auto;
}
.width-container {
  min-height: 1000px;
}
.star-toggle-btn {
  aspect-ratio: 1;
  clip-path: polygon(
    80.4% 89.7%,
    50.58% 72.99%,
    21.64% 91.18%,
    28.31% 57.65%,
    2.07% 35.75%,
    36.02% 31.74%,
    48.74% 0.02%,
    63.05% 31.06%,
    97.15% 33.36%,
    72.05% 56.56%
  );
}
main {
  flex: 1;
}
nav {
  ::-webkit-scrollbar {
    display: none;
  }
}

/* #root {
  flex: 1;
 width: 100%; 
 overflow: auto;
 }  */

/* .dark {
  background-color: #0f172a;
  color: #94a3b8;
}  */
/* .search_filter {
  filter: invert(100%) sepia(37%) saturate(2%) hue-rotate(3deg) brightness(116%)
    contrast(101%);
} */
/* .test {
  background-image: url("../src/assets/icons/searchIcon.svg");
  width: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 1/1;
  border: 1px solid black;
  filter: invert(100%) sepia(37%) saturate(2%) hue-rotate(3deg) brightness(116%)
    contrast(101%);
} */
/* .nav-left {
  box-shadow: 0px 0px 50px 7px rgba(0, 0, 0, 0.9);
} */
.logo {
  font-family: Poppins;
  color: #5085e7;
  /* color: #ff914d; */
  font-weight: bold;
  /* -webkit-text-stroke-width: 0.7px; */
  /* -webkit-text-stroke-color: black; */
}
html.light .logo {
  color: #2c6ce2;
}
.skipNav {
  position: absolute;
  z-index: 50;
  animation: HideSkipNavAnimation 300ms;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

.skipNav:focus {
  top: 40px;
  left: 0px;
  animation: SkipNavAnimation 300ms ease-out;
}

@keyframes SkipNavAnimation {
  from {
    top: -40px;
    left: -1000px;
  }
  to {
    top: 40px;
    left: 0px;
  }
}
@keyframes HideSkipNavAnimation {
  from {
    top: -40px;
    left: -1000px;
  }
  to {
    top: 40px;
    left: 0px;
  }
}

/* dark mode bg color: bg-[#30313d]
light mode secondary text color text-[#565959]

*/
.menu-items::-webkit-scrollbar {
  display: none;
}
.divider {
  height: 1px;
}
.shadow-card {
  box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.03),
    0px 3px 6px rgba(0, 0, 0, 0.02);
}
/* border border-[#d5d9d9] */
.shadow-card2 {
  border: 1px solid #d5d9d9;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.addToCart-modal {
  &[data-entering] {
    animation: mymodal-slide 300ms;
  }

  &[data-exiting] {
    animation: mymodal-slide 300ms reverse ease-in;
  }
}
.menuPopup[data-entering] {
  animation: slide-in-menu 300ms forwards;
}
.menuPopup[data-exiting] {
  animation: slide-in-menu 300ms forwards reverse;
}
.select-box-overlay {
  animation: slideaway 1s;
}
.select-box-overlay.show {
  position: fixed;
  inset: 0;
  /* background-color: black; */
  /* opacity: 0.6; */
  /* animation: slideaway 1s reverse; */
  z-index: 10000;
}
@keyframes slideaway {
  from {
    display: block;
  }
  to {
    transform: translateY(40px);
    opacity: 0;
  }
}

.modal-overlay {
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
  &[data-entering] {
    animation: overlay-fade 300ms;
  }

  &[data-exiting] {
    animation: overlay-fade 300ms reverse;
  }
}
.menu-overlay {
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.6);

  &[data-entering] {
    animation: overlay-blur 300ms forwards;
  }
  &[data-exiting] {
    animation: overlay-blur 300ms reverse;
  }
}
.menu-slide-right {
  z-index: 30;
  &[data-entering] {
    animation: slide-in-menu-right 300ms forwards;
  }
  &[data-exiting] {
    animation: slide-in-menu-right 300ms reverse forwards;
  }
}
.menu-slide {
  z-index: 30;
  &[data-entering] {
    animation: slide-in-menu 300ms forwards;
  }
  &[data-exiting] {
    animation: slide-in-menu 300ms reverse forwards;
  }
}
@keyframes overlay-blur {
  from {
    background-color: rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(1px);
  }
}

@keyframes slide-in-menu {
  from {
    transform: translateX(-400%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes slide-in-menu-right {
  from {
    transform: translateX(400%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes mymodal-slide {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
@keyframes overlay-fade {
  from {
    background-color: black;
    opacity: 0;
  }

  to {
    background-color: black;
    opacity: 0.6;
  }
}
@keyframes overlay-fade2 {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.7;
  }
}

.bg-light-gray {
  background-color: #f2f2f2;
}
.radioBtn {
  display: flex;
  align-items: center;
  gap: 0.571rem;
  /* font-size: 1.143rem; */
  forced-color-adjust: none;
  max-width: 320px;

  &:before {
    content: "";
    display: block;
    width: 1.286rem;
    height: 1.286rem;
    box-sizing: border-box;
    border: 0.143rem solid rgb(126, 126, 126);
    /* inner circle color */
    background-color: white;
    border-radius: 1.286rem;
    transition: all 200ms;
  }
  &[data-disabled]:before {
    background-color: rgb(220, 220, 220);
  }
  /* when holding down the click on radio button */
  &[data-pressed]:before {
    border-color: black;
  }

  &[data-selected] {
    &:before {
      border-color: #6f46ed;
      border-width: 0.429rem;
    }
    /* when radio btn is selected but pressed again */
    &[data-pressed]:before {
      border-color: #5026cf;
    }
  }

  &[data-selected][data-disabled] {
    &:before {
      border-color: rgb(60, 60, 60);
      border-width: 0.429rem;
    }
  }

  &[data-focus-visible]:before {
    outline: 2px solid pink;
    outline-offset: 2px;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loading-circle {
  width: 100px;
  height: 100px;
  border: solid 10px #ff914d;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transition: all 0.5s ease-in;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  transition: all 0.5s ease-in;
  animation-name: rotate;
  animation-duration: 1.1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
